<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tarapogancev.roommates">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roommates"
        tools:targetApi="31">
        <activity
            android:name=".activity.NewOffer"
            android:exported="false" />
        <activity
            android:name=".activity.EditOffer"
            android:exported="false" />
        <activity
            android:name=".activity.MyOffer"
            android:exported="false" />
        <activity
            android:name=".activity.ChatScreen"
            android:exported="false" />
        <activity
            android:name=".activity.Messages"
            android:exported="false" />
        <activity
            android:name=".activity.RoommatesWithApartmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ApartmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RoommatesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyProfile"
            android:exported="false" />
        <activity
            android:name=".activity.UserProfile"
            android:exported="false" />
        <activity
            android:name=".activity.EditProfile"
            android:exported="false" />
        <activity
            android:name=".activity.Settings"
            android:exported="false" />
        <activity
            android:name=".activity.Onboarding"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="false" />
        <activity
            android:name=".activity.Register"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>